#title {
    text-align: center;
    color: limegreen;
}

div {
    text-align: center;
}

@font-face {
    font-family: "Syne mono", monospace;
    src: url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap")
}

#faultyItems {
    visibility: hidden;   
}

#launchForm {
    background-color: #ECF0F1;
    text-align: center;
    margin: auto;
    width: 50%;
    border: 7px solid limegreen;
    padding: 10px;
    outline-color: limegreen
}

#launchStatusCheck {
    background-color: #ECF0F1;
    text-align: center;
    font-family: "Syne Mono", monospace;
    margin: 50px auto;
    width: 50%;
    border: 7px solid limegreen;
    padding: 10px;
}

#missionTarget img {
    max-width: 60%;
    max-height: 250px;
}


#missionTarget {
    background-color: #ECF0F1;
    text-align: center;
    font-family: "Syne Mono", monospace;
    margin: 50px auto;
    width: 50%;
    border: 7px solid limegreen;
    padding: 10px;
}

button {
    background-color: limegreen;
    border: 3px solid black;
    color: black;
    border-radius: 8px;
    width: 25%;
    height: 30px;
    margin: 10px 0;
}

body {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Syne Mono", monospace;   
    margin-top: 160px;
    background-color: #03031A;
    background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNjAwJyBoZWlnaHQ9JzYwMCcgdmlld0JveD0nMCAwIDE1MCAxNTAnPgo8ZmlsdGVyIGlkPSdpJyB4PScwJyB5PScwJz4KCTxmZUNvbG9yTWF0cml4IHR5cGU9J21hdHJpeCcgdmFsdWVzPScxIDAgMCAwIDAgIDAgMSAwIDAgMCAgMCAwIDEgMCAwICAwIDAgMCAwIDAnIC8+CjwvZmlsdGVyPgo8ZmlsdGVyIGlkPSduJyB4PScwJyB5PScwJz4KCTxmZVR1cmJ1bGVuY2UgdHlwZT0ndHVyYnVsZW5jZScgYmFzZUZyZXF1ZW5jeT0nLjcnIHJlc3VsdD0nZnV6eicgbnVtT2N0YXZlcz0nMicgc3RpdGNoVGlsZXM9J3N0aXRjaCcvPgoJPGZlQ29tcG9zaXRlIGluPSdTb3VyY2VHcmFwaGljJyBpbjI9J2Z1enonIG9wZXJhdG9yPSdhcml0aG1ldGljJyBrMT0nMCcgazI9JzEnIGszPSctNzMnIGs0PScuMDEnIC8+CjwvZmlsdGVyPgo8cmVjdCB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjMDMwMzFhJy8+CjxyZWN0IHg9Jy0xJScgeT0nLTElJyB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjZmZmZmZmJyBmaWx0ZXI9J3VybCgjbiknIG9wYWNpdHk9JzEnLz4KPHJlY3QgeD0nLTElJyB5PSctMSUnIHdpZHRoPScxMDIlJyBoZWlnaHQ9JzEwMiUnIGZpbGw9JyMwMzAzMWEnIGZpbHRlcj0ndXJsKCNpKScgb3BhY2l0eT0nMScvPgo8L3N2Zz4=');
    /*found the above link online for space background, seemed appropriate*/
  }